  @import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Syncopate', sans-serif;
}
.App{
  text-align: center;
}
.App_header{
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(2, 2, 2, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;  
  z-index: 10;
}
.container{
  background: url("./Bg//Bg.gif") center center no-repeat;
  margin-top: 90px;
  padding: 150px 0 100px;
  color: rgba(255, 255, 255, 1);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.container h2{
  font-family: Syncopate Cyr;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
}

.container_bottom>p{
  margin: 120px 0 30px 0;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
}
.container_links{
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
 .item{
  width: 160px;
  border-radius: 20px;
  background: rgba(25, 25, 25, 1);
  margin: 30px;
  padding: 20px 0;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  border: 2px solid transparent;
  transition: .6s;
}
.item:hover{
  border-color:#FF9900;
}
.item b{
  font-weight: 500;
}
.item p{
  font-weight: 200;
}
a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 1024px) {
  .container {
    padding: 100px 0 50px;
  }
  .container h2{
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  }
  .container p{
    font-size: 16px;
    font-weight: 500;
  }
  .item {
  }
  .item img{
    width: 50%;
  }
  .item p{
    font-size: 70%;
  }
.item{
  width: 160px;
  height: 180px;
}
.item p{
  font-weight: 600;
 font-size: 17px;
}
}
@media (max-width: 942px) {
  .container_links{
    width: 90%;
  }
}
@media (max-width: 414px) {
  .item{
    width: 107px;
    height: 130px;
  }
  .item img{
  width: 45px;
  height: 45px;
  }
  .item b{
    margin: 0 !important ;
  }
  .item p{
  font-weight: 300;
  font-size: 10px;
}
.container_end{
  font-size: 10px;
}
}
